{
  "root": true,
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2021": true
  },
  "globals": {
    "AggregateError": "readonly"
  },
  "rules": {
    "prettier/prettier": "error",

    "no-console": "off",
    "no-underscore-dangle": "off",

    "import/prefer-default-export": "off"
  },
  "overrides": [
    {
      "files": ["./src/**/*.test.js"],
      "env": {
        "jest": true
      },
      "extends": ["plugin:jest/recommended", "plugin:jest/style"]
    }
  ]
}
